<h1>This is the about page</h1>
<p> If you want to go to the homepage <a href="/">Click here </a></p>

<p>
  <%= link_to  "Go to Articles Listing", articles_path %>
</p>
<p>
  <%= link_to  "Go to Home Page", root_path %>
</p>