<h1>This is a homepage</h1>
<p> If you want to go to the about <a href="/about/">Click here </a></p>
<p>
  <%= link_to  "Go to Articles Listing", articles_path %>
</p>
<p>
  <%= link_to  "Go to About Page", about_path %>
</p>